{#
/**
 * @file sale.html.twig
 * Default theme implementation to present Sale data.
 *
 * This template is used when viewing Sale pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sale()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sale') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
